$primary-color: #1d7cee;
$primary-light-color: #eaf2fd;
$dark-grey: #444444;
$soft-grey: #e2e2e2;
$white: #ffffff;
$red: red;

.button {
  border-radius: 6px;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  svg {
    margin-right: 4px;
  }
}

.button-m {
  padding: 8px 15px;
}

.button-l {
  padding: 12px 15px;
}

.button-blue {
  background-color: $primary-color;
  color: $white;
}

.button-active {
  background-color: $primary-light-color;
  color: $primary-color;
  svg {
    margin-right: 8px;
    stroke: #1d7cee;
  }
}

.button-grey {
  background-color: $soft-grey;
  color: $dark-grey;
}

.button-red {
  background-color: $red;
  color: $white;
}
